@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Tangerine:wght@400;700&family=Yellowtail&display=swap');

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.title{
display: flex;
max-width: 900px;
height: 300px;
font-size: 300%;
justify-content: space-between;
align-items: center;
margin: 0 auto;
}

header {
    color: white;
    background-image: url(IMGs/SBpng.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.content{
    margin: 20px;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
}

h2{
    font-family: "Tangerine", cursive;
    font-size: 200%;
    margin-bottom: 25px;
}

#follower_of_light, #god_father{
    margin: 20px;  
    overflow: auto;  
}

#follower_of_light p, #god_father p{
    margin-left: 250px;
}

#follower_img, #father_img{
    float: left;
    border-radius: 20%;
}

#best_friend{
    margin-right: 40px;  
    overflow: auto;  
}

#best_friend h2{
    margin-right: 40px;
    text-align: end;
}

#best_friend p{
    margin-right: 250px;
}

#best_friend_img{
    float:right;
    border-radius: 20%;
}

footer {
    background-color: #804915;
    color: white;
    padding: 20px;
    text-align: center;   
}